{% extends "base.html" %} {% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/index">Blogz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/newblog">Create New Entry</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
        </ul>

        <div class="brtn btn-primary my-2 my-sm-0">
            <a href='/logout'><button type="button" class="btn btn-primary disabled">Logout</button></a>
        </div>
    </div>
</nav><br>

<h1 style="text-align: center;">Blogz!</h1>

<div class="col-sm-8">
    {% if not myblog %}
    <h2>Blog Posts</h2><br> {% if blogs|length == 0 %}
    <p>No blog posts yet</p>
    {% else %} {% endif %}
    <ul style="list-style: none;">

        {% for blog in blogs %}

        <div class="list-group">
            <a href="blogs?id={{blog.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1">{{blog.name}}</h6>
                </div>
                <p class="mb-1">{{blog.body}}</p>
            </a>
        </div>


        {% endfor %}
    </ul>{% endif %} {% if myblog %}
    <h2>{{myblog.name}}</h2>
    <p>{{myblog.body}}</p>

    {% endif %}
</div>
{% endblock %}