{% extends "base.html" %} {% block content %}
<a href='/' style='margin-right: 10px;'>Main Blog Page</a>
<a href='/newblog'>Create New Blog Post</a><br><br>

<h1 style="text-align: center;">Build-A-Blog!</h1>

<!-- <hr /> {% if blogs|length == 0 %}
<p>No blog posts yet</p>
{% else %} {% endif %} -->

<hr />

<h2>Blog Posts</h2>

<hr /> {% if blogs|length == 0 %}
<p>No blog posts yet</p>
{% else %} {% endif %}

<ul>
    {% for blog in completed_blogs %}
    <li>{{blog.name}}</li>
    {% endfor %}
</ul>

{% endblock %}