{% extends "base.html" %} {% block content %}
<a href='/'>Main Blog Page</a><br><br>

<h1 style='text-align: center;'>Build-A-Blog!</h1>

<hr />

<form method='post'>
    <label>
            New Blog Entry:
            <br><br><input type="text" name='blog' placeholder="Blog Title"/>
        </label>
    <span class="error">{{title_error}}</span>
    <label><br><br>
            <textarea rows="20" cols="70" name="blogbody" placeholder="Enter blog content here..."></textarea>
        </label>
    <span class="error">{{body_error}}</span><br><br>
    <input type="submit" value='Add Entry' />
</form>


{% endblock %}