{% extends "base.html" %} {% block content %}
<a href='/index' style='margin-right: 10px;'>Home</a>
<!-- <a href='/blogs' style='margin-right: 10px;'>Main Blog Page</a> -->
<a href='/newblog' style='margin-right: 10px;'>Create New Entry</a>
<a href='/login' style='margin-right: 10px;'>Login</a>
<a href='/register'>Register</a><br><br>

<h1 style='text-align: center;'>Blogz!</h1>

<hr />

<form method='post'>
    <label>
            New Blog Entry:
            <br><br><input type="text" name='blog' placeholder="Blog Title" value='{{blog_title}}'/>
        </label>
    <span class="error">{{title_error}}</span>
    <label><br><br>
            <textarea rows="20" cols="70" name="blogbody" placeholder="Enter blog content here...">{{blog_body}}</textarea>
        </label>
    <span class="error">{{body_error}}</span><br><br>
    <input type="submit" value='Add Entry' />
</form>


{% endblock %}